<!DOCTYPE html>
<html>
<head>
	<title>Index Title</title>
</head>
<body>
<form>
	<input type="text" name="guess">
	<input type="submit" name="Guess!">
</form>
	<p><%= message %></p>
	<p>THE SECRET NUMBER IS <%= number %></p>
</body>
</html>
